
html{
    font-size: 12px;
}

body{
    background-color: #FBF9F1;
  
}



*{
    outline: none;
    
    }

.navbar{
    display: inline-block;
    width: 100%;
    display: inline;
    background-color: #FBF9F1;
    
}

.navbar-fresh{
    display: inline;
}

.log-1{
    width:3.3rem;
     padding-bottom: 0.5rem;
      border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}


.fresh{

    display: inline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0.5rem;
    font-weight: 500;
    text-shadow: 0.2rem 0.7rem 0.5rem rgba(0,0,0,0.3), 
    0rem -0.4rem 1rem rgba(255,255,255,0.3);
   
}

.first-element .navbar-brand{
    text-shadow: rgb(236, 236, 230) 0.2rem 0 0 ;
    color: #2A6049;
    float: left;
    font-size: 2rem;
    padding-left: 1%;
    
}


.box {
    box-shadow:
    0 0.28rem 0.22rem rgba(0, 0, 0, 0.034),
    0 0.67rem 0.53rem rgba(0, 0, 0, 0.048),
    0 1.25rem 1rem rgba(0, 0, 0, 0.06),
    0 2.23rem 1.79rem rgba(0, 0, 0, 0.072),
    0 4.18rem 3.34rem rgba(0, 0, 0, 0.086),
    0 10rem 8rem rgba(0, 0, 0, 0.12)
  ;
    background: white;
  }



.second-element{
display: inline;
float: right;
font-weight: 300;
font-size: 1.3rem;
margin-right: 0.8rem;

}

.item-nav-words{
    padding-top: 1rem;
}

.navbar-item a{
    
    color: #2A6049;
}

.navbar-item{

    color: #2A6049;
    list-style-type: none;
}


.checkout{

    display: inline-block;
     border: none; 
     width: 100%;
      background-color: #2c6d51;
}

.checkout:hover{
    background-color: #398866;
    
}






.products-digit{
    position: relative;
     text-align: center; 
     color: #FBF9F1; 
     font-size: 1.2rem;
      border-radius: 80%;
        width: 1.7rem;
         height: 2.2rem;
         background-color: #2A6049;
          border: none;  
          margin-left:0.3rem;
           margin-top:0.9rem; 
}




.nav-link{
    color: #2A6049;
    text-decoration: none;
}

.nav-link:hover{
    color: #2A6049;
    text-decoration: none;
}

.logo2{
    font-size: 2rem;
    
}

.logo3{
    position: absolute;
}

.nav-link .logo3{
    font-size: 3.5rem;
}

.shop-packet{
    float: left;
}




.opacity-slider{
     margin-top: 15rem;
    opacity: .7;
    
}

.carousel-caption{
    width: 42%;
    margin-bottom: 15%;
    text-shadow: 0.2rem 0.7rem 0.5rem rgba(58, 56, 56, 0.3), 
    0rem -0.4rem 1rem rgba(255,255,255,0.3);
}

.carousel-title{
    color: #2c6d51;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem ;
    background-color: rgba(59, 177, 153, 0.2);
    font-size: 350%;
    
}

.weekly-card{
    color:#2A6049;
      text-align: center;
       margin-top: 15rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly-title{
    font-size:xx-large;
}

.weekly-card p{
    font-size:medium;
     margin-top: 0.2rem;
      padding-bottom: 5rem;
}

.products-slider{
    display: flex;
      justify-content: center;
}

.products-box{
    width: 20%;
     float:left;
      margin-left:1rem;
      margin-right: 1rem;
}

.carousel-text{
    font-size: 120%;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem ;
    color: #2c6d51;
    background-color: rgba(59, 177, 153, 0.2);
    margin-top: 5%;
    margin-bottom: 5%;
}

.button-slider{
    
    font-size: 1.2rem;
    font-weight: 500;
    color: #2A6049;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-slider:hover{
    background-color: #2A6049;
    color: #FBF9F1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-special-price{
    position: absolute; 
    background-color:#2A6049;
    color: white;
     opacity: 0.9;
}

.products-name{
    font-size: 1rem; 
    margin-top:0rem;
    text-align: center;
    height: 2rem ;
}

.products-price{
    font-weight: 700;
    text-align: center;
}

.summ-product-btn{
    display: flex;
    justify-content: center;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





.my-input2::-webkit-outer-spin-button,
.my-input2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter{
    width: 100%; 
}

.minus{
    padding-left: 21%;
}

.summ-products-input{

    color: #fff;
    width: 40%;
    height: 2rem;
    background-color: #387058;
}

.add-to-card{
    background-color:#387058;
    color: white;
     margin-top: 0.5rem;
      width: 100%;
}



.carousel-control-next  .div-icon-2 {
    width: 5rem;
    height: 5rem;
   background-color: #2A6049;
   opacity: 0.5;
}

.carousel-control-prev .div-icon-1 {
    width: 5rem;
    height: 5rem;
   background-color: #2A6049;
   opacity: 0.5;
}

.hr-products-slider{
    margin-bottom: 10rem; margin-top: 10rem;
}

.card-Grab{
    background-color: white;
}

.card-body-Grab{
    color:#2A6049; 
     text-align: center; 
     padding-top: 15rem;
     margin-bottom: 5rem;
     margin-left: 10rem;
     margin-right: 10rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-body-Grab h5{
    font-size:3rem;
}

.card-body-Grab p{
    font-weight: 300;
    font-size:1.3rem;
     margin-top: 2rem;
      margin-bottom: 5rem;
}


.Grab-first-line{
    display: flex;
      justify-content: center;
}

.Grab-cards{
    width: 20%;
     float:left;
      margin-left:3.5rem;
       border: none;
}

.first-footer{
    margin-top: 22rem;
     display: flex;
      justify-content: center;
}

.first-footer-card{
    width: 30%;
     text-align: center; 
      font-family: sans-serif;
       color: #2A6049; 
       float: left;  
        border-right: 0.05rem solid #2A6049;
         padding-right: 4rem;
         margin-right: 2rem;
        margin-left: 3rem;
}

.first-footer-card-last{
    width: 30%;
    text-align: center; 
     font-family: sans-serif;
      color: #2A6049; 
      float: left;  
        padding-right: 4rem;
        margin-right: 1rem;
}




.first-footer-img{
    width: 30%; 
    height: 30%;
     margin-bottom: 1.5rem;
}

.first-footer-title{
    font-weight: 800;
     margin-bottom: 1.5rem;
}


.second-footer{
    background-color: #2A6049; 
    width: 100%;
      margin-top: 22rem;
       display: flex;
        justify-content: center;
         font-family:unset;
}

.second-footer-block{
    width:20% ;
     font-size: 1.1rem;
       margin-top: 5rem; 
         margin-bottom: 5rem; 
}

.second-footer-title{
    color: rgb(255, 233, 233);
     font-weight: 300; 
     margin-bottom: 5rem;
}

.second-footer-text{
   margin-bottom: 0.7rem; 
}

.second-footer-text-store{
    text-decoration:none;
     color: rgb(255, 233, 233);
      font-weight: 300;
}

.second-footer-text-store:hover{
    color: rgb(0, 0, 0);
}

.second-footer-text-adress{
    text-decoration:none;
     color: rgb(255, 233, 233);
      font-weight: 300;  margin: 0;
}

.second-footer-text-opening-hours{
    text-decoration:none;
     color: rgb(255, 233, 233);
      font-weight: 300;  margin: 0; 
}


.second-footer-text-Get-it{
    text-decoration:none;
     color: rgb(255, 233, 233);
      font-weight: 300; 
       margin: 0; 
}

.footer-email{
    width: 100%; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}






.my-button {
    width: 100%;
     height: 2.5rem;
      text-align: center;
       font-size: 0.9rem; 
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         color: #2A6049   ;
    outline: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border: 0.2rem solid white;
    background: white;
    color: #000;
    font-weight: 600;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.my-button:hover {
    background-color: white;
    color: #000;
    box-shadow: 0 0 0.5rem  white,
                0 0 2rem rgb(255 255 0 / 0.8),
                0 0 3.5rem rgb(255 255 0 / 0.7),
                0 0 5rem rgb(255 255 0 / 0.6);
    border-color: #fff;
}


.end-footer{
    background-color: #2A6049;
     display: flex;
     
}

.end-footer-block{
    width: 31%;
     text-align: center;
     padding-top: 3rem;
      
      
}

.end-footer-text{
    color:rgb(0, 0, 0);
     font-family:unset;
      font-size: 1rem;
       font-weight: 300;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.end-footer-icons{
    width: 40%;
     text-align: center;
       color:rgb(255, 233, 233) ;
       display: flex;
       justify-content: center  ;
       margin-left: 16rem;

}

.end-footer-icon-a{
    color: rgb(255, 233, 233);
    width: 10%;
}

.end-footer-icon-a:hover{

    color: rgb(255, 255, 255);
}

.end-footer-icon-i{
   
    padding-left: 12rem;
     font-size: 2.5rem;
}



.loading{
    background-image: url("https://loading.io/spinners/progress/index.progress-bar-preloader.svg");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: -4rem -13.4rem;
    outline: none;
    border: 0.1rem;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    
}




.my-chat {
    outline: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border: 0.2rem solid white;
    color: #000;
    font-weight: 600;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
    position: absolute;
         right: 0;
         bottom: 0;
         width: 5%;
         height: auto; 
         margin: 2%;
           border-radius: 50%; 
           background:#306951; 
           position: fixed; 
}




.my-chat:hover {
    color: #000;
    box-shadow: 0 0 0.5rem  white,
                0 0 2rem rgb(150 150 150 / 0.8),
                0 0 3.5rem rgb(180 180 180 / 0.7),
                0 0 5rem rgb(180 180 180 / 0.6);
    border-color: #fff;
}


.chat-icon{
    color: white;
     justify-content: center;
      padding: 27%;
       font-size: 2.3rem;
}

.chat-icon:hover{
    
        
        color: rgb(255, 255, 255);
        box-shadow: 0 0 0.5rem  white,
                    0 0 2rem rgb(150 150 150 / 0.8),
                    0 0 3.5rem rgb(180 180 180 / 0.7),
                    0 0 5rem rgb(180 180 180 / 0.6);
        border-color: #fff;
    
}




.chat{
    display: none;
     position: fixed;
      width: 20% ;
       height: auto; 
        right: 0;
         bottom: 0;
          background:white; 
           margin-bottom: 8%;
            margin-right: 3%; 
}

.header-chat-box{
    height: 25%; 
    width: 100%;
     border-radius: 50%;
      display: inline;
       background-color: #2A6049; 
}

.header-chat-img{
    width: 25%;
      border-radius: 50%;
       padding: 5%;
         float: left;
          position: relative;
}

.header-chat-meneger-name{
    float: left;
     font-size: 1.1rem; 
     color: white;
      margin-top: 6%;
}

.header-chat-close{
    float: right;
     padding: 4%;
}

.header-chat-close-icon{
    border-radius: 50%; 
    color: white;
    font-size: 120%;
}

.header-chat-close-icon:hover{
    color: white;
}


.header-chat-hr{
    width: 100%;
     padding-top: 0.1rem; 
     background:#387058;
}

.body-chat{
    height: auto;
}


.chat-body-img{
    width: 20%; 
     border-radius: 50%;
      padding-left: 3%;
       padding-right: 3%;
          float: left;
}

.chat-message{
    margin-bottom: 55%;
     margin-left: 20%;
      margin-right: 10px;
       width: 74%; 
        border-radius:1.8rem 1.8rem 1.8rem 1.8rem;
         background-color: rgb(184, 184, 184);
}
.chat-message-ben{
    font-size: 0.8rem; padding: 5% ;
}

.send-message-hr{
    width: 100%; 
    padding-top: 0.1rem;
     background:#387058;
}

.chat-footer{
    bottom: 0;
    padding-bottom: 5%;
}

.chat-footer-input{
    margin-left: 5%;
     width: 64%;
      height: 7%;
       border: 0.1rem solid #387058; 
       border-radius:1rem 1rem 1rem 1rem
}

.chat-footer-button{
    margin-left: 4%;
     border: none;
      background-color: #2A6049;
       color:white; 
       width: 25%; 
         border-radius:1rem 1rem 1rem 1rem; 
         font-size: 1.2rem;
}

/* .card-product-list{
    width: 25% ;
     height: 100%;
      float: right;
       position:absolute;
        right: 0; 
        top: 0; 
        position: fixed; 
         display:none ;
}

.card-header{
    width:100% ;    
     height: 100px;
      background-color: black;
       display: inline;
}

.card-header-icon{
    font-size:36px;
     color:white;
      float: left; 
      padding:20px;
}

.card-header-text{
    color: white; 
    text-align: center;
     padding: 25px;
      font-weight: 300;
       float: left;
        padding-left:55px;
} */

input {outline:none;}

/* ============================================= */








input[type=range] {-webkit-appearance: none; margin: 0.58rem 0; background-color: transparent !important;}

input[type=range]:focus {outline: none;}

input[type=range]::-webkit-slider-runnable-track {cursor: pointer; box-shadow: 0.24rem 0.24rem  0.62rem  rgba(194, 194, 196, 0.72), 0rem  0rem  0.24rem  rgba(227, 227, 230, 0.72); background: #b9b9b9; border-radius: 2.16rem ; border: 0.1rem  solid #b9b9b9;}

input[type=range]::-webkit-slider-thumb {box-shadow: 0.24rem  0.24rem  0.95rem  rgba(4, 16, 14, 0.78), 0rem  0rem  0.24rem  rgba(9, 36, 32, 0.78); border: 0.18rem  solid #105235; border-radius: 2.8rem ; background: black; cursor: pointer; -webkit-appearance: none; margin-top: -0.78rem ;}

input[type=range]:focus::-webkit-slider-runnable-track {background: #b9b9b9;}

input[type=range]::-moz-range-track {width: 100%; cursor: pointer; box-shadow: 0.24rem 0.24rem  0.62rem rgba(212, 212, 214, 0.72), 0rem  0rem  0.24rem rgba(243, 243, 243, 0.72); background: #b9b9b9; border-radius: 2.16rem; border:0.1rem solid #b9b9b9;}

input[type=range]::-moz-range-thumb {box-shadow: 0.24rem  0.24rem  0.95rem rgba(4, 16, 14, 0.78),  0rem  0rem  0.24rem rgba(9, 36, 32, 0.78); border: 0.18rem solid #105235; border-radius: 2.8rem; background: #000; cursor: pointer;}

input[type=range]::-ms-track {width: 100%; cursor: pointer; background: transparent; border-color: transparent; color: transparent;}

input[type=range]::-ms-fill-lower {background: #b9b9b9; border: 1px solid #b9b9b9; border-radius: 4.32rem; box-shadow:  0.24rem 0.24rem  0.62rem rgba(239, 239, 241, 0.72),  0.24rem 0.24rem  0.62rem rgba(237, 237, 240, 0.72);}

input[type=range]::-ms-fill-upper {background: #b9b9b9; border: 1px solid #b9b9b9; border-radius: 4.32rem; box-shadow:  0.24rem 0.24rem  0.62rem rgba(236, 236, 238, 0.72),  0.24rem 0.24rem  0.62rem rgba(239, 239, 240, 0.72);}

input[type=range]::-ms-thumb {box-shadow: 0.24rem  0.24rem  0.95rem rgba(4, 16, 14, 0.78), 0rem  0rem  0.24rem rgba(9, 36, 32, 0.78); border: 0.18rem solid #105235; border-radius: 2.8rem; background: black; cursor: pointer;}

input[type=range]:focus::-ms-fill-lower {background:#b9b9b9;}

input[type=range]:focus::-ms-fill-upper {background: #b9b9b9;}

/* Track */
input[type=range]::-webkit-slider-runnable-track {height: 0.64rem;}
input[type=range]::-moz-range-track {height: 0.64rem;}
input[type=range]::-ms-track {height: 0.64rem;}

/* Thumb */
input[type=range]::-webkit-slider-thumb {height: 0.2rem; width: 0.8rem;}
input[type=range]::-moz-range-thumb {height: 0.2rem; width: 0.8rem;}
input[type=range]::-ms-thumb {height: 0.2rem; width: 0.8rem;}




  



.input-contact-subject:hover, .input-contact:hover {
    border: 0.2rem solid #105235;
}










.text-area:hover{
    border: 0.2rem solid #105235;
}



.warning{
    border:0.2rem solid #ff0000;
}

.submit-contact:hover{
    background-color: rgb(135, 194, 135);
}



/* ------------------------------------------------------------ */
.button-email{
    background-color:#ffffff ;
    border: 0.1rem solid grey;
    color: grey;
    padding-left: 5.5rem;
    padding-right: 7rem;
    border-radius:0.5rem 0.5rem 0.5rem 0.5rem;
    padding-top:0.7rem; 
    padding-bottom: 0.7rem;
}

 .button-email:hover{
    border: 0.12rem solid rgb(0, 0, 0);
    color: black;
   
}

.button-google{
    background-color:#2c79ff;
    border: none; 
    padding-left: 2.5rem;
    padding-right: 3.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-top:0.7rem;
    padding-bottom: 0.7rem;
}


.button-google:hover{
    background-color:#5591F5;
}



.button-facebook{
    background-color:#295bc5 ;
    border: none;
    padding-left: 2.5rem;
    padding-right: 3.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-top:0.7rem;
    padding-bottom: 0.7rem;
}

.button-facebook:hover{
    background-color:#3c6eda ;
    
}



